<div class="container">
<div id="owl-demo" class="owl-carousel">
        
        <div class="carousel-inner">
            <div *ngFor="let d of data">
                <img [src]="d.imgSrc" *ngIf="isVisible">

                <div class="carousel-left-arrow">
                    <img src="src/images/left-arrow.png" (click)="prev(d.index)">
                </div>
                
                
                 <div class="carousel-right-arrow">
                    <img src="src/images/right-arrow.png" (click)="next(d.index)">
                </div>
            </div>
        </div>

 </div>
</div>